@import url('https://fonts.googleapis.com/css2?family-Poppins:wgh@400&display=swap');


*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-display : 'Poppins' , sans-serif;
}

body {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f242d;
}

a{
    position : relative;
    font-size : 1.5rem;
    text-decoration : none;
    text-transform : uppercase;
    display : inline-block;
    background:  #262c37;
    color : rgba(255 , 255 , 255 ,.4);
    letter-spacing : .1em;
    padding : 10px 30px;
    transition-delay : .8s;
}

a:hover{
    color : #00eeff;
    letter-spacing: .25em;
    text-shadow : 0 0 5px #00eeff;
}

a span{
    position:absolute;
    display : block;
    background: #00eeff;
    box-shadow: 0 0 5px #00eeff;
}

a span:nth-child(1){
    left : 0;
    top : 0;
    width : 50.5%;
    height : 1.5px;
    transform-origin : left;
    transform :scaleX(0);
    transition : transform .5s;
    
}

a:hover span:nth-child(1){
    transform :scaleX(1);
    transform-origin : right;
    
}

a span:nth-child(2){
    right : 0;
    top : 0;
    width : 50.5%;
    height : 1.5px;
    transform-origin: right;
    transform :scaleX(0);
    transition : transform .5s;
   
}

a:hover span:nth-child(2){
    transform :scaleX(1);
    transform-origin : left;
    
}

a span:nth-child(3){
    right : 0;
    top : 0;
    width : 1.5px;
    height : 100%;
    transform-origin : bottom;
    transform :scaleY(0);
    transition : transform .5s;
    transition-delay : .4s;
}

a:hover span:nth-child(3){
    transform :scaleY(1);
    transform-origin : top;
    
}

a span:nth-child(4){
    left : 0;
    top : 0;
    width : 1.5px;
    height : 100%;
    transform :scale(0);
    transform-origin: bottom;
    transition : transform .5s;
    transition-delay : .4s;
}

a:hover span:nth-child(4){
    transform :scaleY(1);
    transform-origin : top;
    
}

a span:nth-child(5){
    right : 0;
    bottom : 0;
    width : 50.5%;
    height : 1.5px;
    transform-origin: left;
    
    transform :scaleX(0);
    transition : transform .5s;
    transition-delay: .8s;
    
}

a:hover span:nth-child(5){
    transform :scaleX(1);
    transform-origin : right;
    
}
a span:nth-child(6){
    left : 0;
    bottom : 0;
    width : 50.5%;
    height : 1.5px;
    transform-origin: right;
    transform :scaleX(0);
    transition : transform .5s;
    transition-delay : .8s;
    
}

a:hover span:nth-child(6){
    transform :scaleX(1);
    transform-origin :left;
    
}